CREATE DATABASE [BookShop]
GO

USE [BookShop]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/14/2025 3:05:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 3/14/2025 3:05:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Role] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 3/14/2025 3:05:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/14/2025 3:05:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[date] [date] NOT NULL,
	[totalmoney] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/14/2025 3:05:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Price] [float] NOT NULL,
	[Image] [nvarchar](1000) NOT NULL,
	[Quantity] [int] NOT NULL,
	[isContinue] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1, N'Literature')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (2, N'Science')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (3, N'Economics')
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FullName], [Email], [PhoneNumber], [Username], [Password], [Address], [Role]) VALUES (1, N'John Doe', N'johndoe@email.com', N'123-456-7890', N'johndoe123', N'password123', N'123 Main Street, City, Country', 0)
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Email], [PhoneNumber], [Username], [Password], [Address], [Role]) VALUES (2, N'thjohn', N'janesmith@email.com', N'987-654-3210', N'test', N'123', N'456 Elm Street, Town, Country', 1)
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Email], [PhoneNumber], [Username], [Password], [Address], [Role]) VALUES (3, N'Alice Johnson', N'alice@email.com', N'555-123-7890', N'alicej', N'mysecret', N'789 Oak Avenue, Village, Country', 0)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [quantity], [price]) VALUES (1, 2, 1, 450000)
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [quantity], [price]) VALUES (2, 2, 1, 200000)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerID], [date], [totalmoney]) VALUES (1, 8, CAST(N'2025-03-10' AS Date), 450000)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [date], [totalmoney]) VALUES (2, 1, CAST(N'2025-03-14' AS Date), 200000)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [Description], [Price], [Image], [Quantity], [isContinue]) VALUES (1, N'Wuthering Heights', 1, N'Written by Emily Brontë - A classic novel exploring the intense and tragic love story between Heathcliff and Catherine, set against the wild Yorkshire moors.', 150000, N'https://m.media-amazon.com/images/I/81Tm5QXrdhL._UF1000,1000_QL80_.jpg', 50, 0)
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [Description], [Price], [Image], [Quantity], [isContinue]) VALUES (2, N'A Brief History of Time', 2, N'Authored by Stephen Hawking - A groundbreaking book that simplifies complex cosmological concepts, from the Big Bang to black holes, for the general reader.', 200000, N'https://www.nxbtre.com.vn/Images/Book/nxbtre_full_20002022_040049.jpg', 29, 0)
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [Description], [Price], [Image], [Quantity], [isContinue]) VALUES (3, N'The Alchemist', 1, N'Created by Paulo Coelho - An inspiring tale of Santiago, a shepherd boy, on a journey to discover his personal legend and the treasures of life.', 120000, N'https://cdn.kobo.com/book-images/5967e7fb-edc8-403b-9989-f8aab7b3ed89/1200/1200/False/the-alchemist-38.jpg', 40, 0)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
